/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* App Styles */
h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}

address {
  @apply not-italic;
}

.container {
  @apply w-11/12 max-w-full mx-auto;

  @screen sm {
    max-width: 480px;
  }
  @screen md {
    max-width: 720px;
  }
  @screen lg {
    max-width: 960px;
  }
  @screen xl {
    max-width: 1280px;
  }
  @screen 2xl {
    max-width: 1366px;
  }
}

#site-header {
  .gradient {
    background: linear-gradient(rgba(29, 30, 27, 0.95), transparent);
  }

  &.is-stuck {
    @apply bg-dark;

    .gradient {
      @apply opacity-0;
    }
  }
}

#site-footer {
  ul {
    li {
      a {
        i {
          &:before{
            content: "\f054";
          }
        }

        &[target=_blank] {
          i {
            &:before{
              content: "\f08e";
            }
          }
        }
      }
    }
  }
}

body.logged-in #site-header {
  @screen lg {
    margin-top: 46px;
  }

  @media (min-width: 1025px) {
    margin-top: 32px;
  }
}

.tinymce {
  h1 {
    @apply my-10 first:mt-0 last:mb-0 text-4xl lg:text-5xl;
  }

  h2 {
    @apply mt-8 first:mt-0 mb-5 last:mb-0 text-3xl lg:text-4xl;
  }

  h3 {
    @apply mt-5 first:mt-0 mb-3 last:mb-0 text-2xl;
  }

  p,
  ul,
  ol,
  blockquote {
    @apply my-3 first:mt-0 last:mb-0;
  }

  ul,
  ol {
    @apply pl-5 list-outside;

    li {
      @apply my-2 first:mt-0 last:mb-0;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  a {
    @apply font-bold underline focus:no-underline lg:hover:no-underline;
  }
}

#contact-form {
  .field {
    @apply mb-4;

    label {
      @apply mb-2.5 inline-flex text-lg font-serif;
    }

    .field-input {
      @apply w-full px-2 py-1 border-2 border-gray-400 rounded-md bg-white/5 text-light;
    }

    textarea {
      max-height: 155px;
    }
  }

  .btn-container {
    @apply flex items-center;

    #submit-btn {
      @apply px-3.5 py-2.5 flex border-2 border-light rounded-full bg-light lg:hover:bg-transparent focus:bg-transparent text-dark text-lg font-bold leading-none cursor-pointer transition-colors duration-500 lg:hover:text-light focus:text-light;
    }

    .wpcf7-spinner {
      @apply block bg-white/10 opacity-100;

      &:before {
        @apply bg-white;
      }
    }
  }
}

.slick-slider.slick-gallery {
  @apply relative z-0 mb-0;

  .slick-prev,
  .slick-next {
    border-style: solid;
    margin-top: -10px; /* Offsets caption */
    @apply w-9 h-9 z-10 flex justify-center items-center border-2 border-light rounded-full bg-light lg:hover:bg-dark focus:bg-transparent text-dark lg:hover:text-light focus:text-light text-base leading-none transition-colors duration-500;
  }

  .slick-prev {
    left: 4px;
  }

  .slick-next {
    right: 4px;
  }

  .slick-track {
    @apply flex items-center;

    .slick-slide {
      @apply flex flex-col justify-center items-center;
    }
  }
}