/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Editor Styles */
@import './editor-style.min.css';

/* App Styles */
h1, h2, h3, h4, h5, h6 {
  @apply font-serif font-bold;
}

.container {
  @apply max-w-full mx-auto;

  @screen sm {
    max-width: 480px;
  }
  @screen md {
    max-width: 720px;
  }
  @screen lg {
    max-width: 960px;
  }
  @screen xl {
    max-width: 1280px;
  }
  @screen 2xl {
    max-width: 1366px;
  }
}

#site-header {
  @apply bg-transparent;

  .gradient {
    background: linear-gradient(rgba(29, 30, 27, 0.95), transparent);
  }

  &.is-stuck {
    @apply bg-dark;

    .gradient {
      @apply opacity-0;
    }
  }
}

#site-footer {
  ul {
    li {
      a {
        i {
          &:before{
            content: "\f054";
          }
        }

        &[target=_blank] {
          i {
            &:before{
              content: "\f08e";
            }
          }
        }
      }
    }
  }
}

body.logged-in #site-header {
  @screen md {
    margin-top: 46px;
  }

  @media only screen and (min-width: 783px) {
    margin-top: 32px;
  }
}
